.side {
  background-color: #343a40;
}

.navbar-icon {
  height: 30px;
  width: 40px;
  transform: rotate(180deg);
  margin-left: 20px;
}
.dropdown-menu {
  background-color: #212529;
}
.nav-link {
  padding-top: 1px;
  padding-bottom: 1px;
  color: white;
}
a.nav-link:hover {
  color: grey;
}
.navbar-nav {
  padding-top: 0px;
  padding-bottom: 0px;
}
.mr-auto {
  align-items: center;
}
.dropdown-item {
  background-color: #212529;
  color: white;
  align-items: center;
}
.main {
  padding: 0em;
}
.solo-nav {
  padding: 0px;
}
