[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
markdown = "*"
django-filter = "*"

[packages]
djangorestframework = "*"
django-cors-headers = "*"
django-filter = "*"
pillow = "*"
django-cleanup = "*"
django-nested-inline = "*"
dj-static = "*"
psycopg2 = "*"
gunicorn = "*"
django-admin-sortable2 = "*"
django-grappelli = "*"
dj-database-url = "*"
whitenoise = "*"
django-nested-admin = "*"
pep8 = "*"
pylint = "*"
pylint-django = "*"
coverage = "*"
python-decouple = "*"
boto3 = "*"
django-storages = "*"
django-resized = "*"
django = "==3.0.7"
django-allauth = "*"
django-rest-auth = {extras = ["with_social"],version = "*"}

[requires]
python_version = "3.8"
