.container {
  align-items: "center";
}
.jumbotron {
  padding: 20px 0px;
  display: flex;
  color: black;
  background-color: #e3e3e3;
  margin-bottom: 10px;
}
.jumbotron div.row {
  background-color: #e3e3e3;
}
p.numReview {
  display: inline;
}
.image-col {
  order: 2;
  padding: 5px 5px;
  margin: 5px 5px;
}
.Link {
  width: 100%;
  height: 100%;
  text-decoration: none;
}
h3 {
  color: #3d2910;
}
h3:hover {
  color: #e3e3e3;
}
a:hover {
  text-decoration: none;
}
.card.img,
.carousel {
  border-radius: 25px;
}
